*::-webkit-scrollbar
{
    width: 8px;
}

*::-webkit-scrollbar-track
{
    background: rgb(148, 148, 148);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb
{
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    border: 1.5px solid rgb(66, 66, 66);
}
#content-none::after
{
	content: none;
}