<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
	</head>
	<body>
		<div class="loginbox">
			<form>
				<!--<h2>Login</h2>-->
				<div class="box">
					<input type="text" name="" required="">
					<label>Username</label>
				</div>
				<div class="box">
					<input type="password" name="" required="">
					<label>Password</label>
				</div>
				<a href="#">
					Connect
				</a>
			</form>
		</div>
	</body>
</html>
